Source: nfdhcpd
Section: net
Priority: extra
Maintainer: Nikos Skalkotos <skalkoto@grnet.gr>
Build-Depends: debhelper (>= 7.0.50~), python-all
Standards-Version: 3.9.4

Package: nfdhcpd
Architecture: all
Replaces: snf-network
Depends: ${misc:Depends}, ${python:Depends}, python-scapy(>= 2.0.1-1),
         python-daemon(>=1.5.5-1), python-pyinotify(>=0.9.3-1),
         python-ipy(>=1:0.75-1), python-nfqueue(>=0.4-3),
         python-cap-ng(>=0.6.6-1), python(>=2.7), python-configobj(>= 4.7.2-1),
         python-setproctitle, python-setuptools
Suggests: ferm
Description:  promiscuous, NFQUEUE-based DHCP, DHCPv6 and Router Advertisement server
 This package includes:
  * nfdhcpd
